<ion-header>
    <app-nav></app-nav>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center">
                <h1>Info</h1>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>What is BRT Express?</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>BRT Express, a high-quality Bus Rapid Transit service,
                            operates with fewer stops, off-board fare collection,
                            and more frequent trips than regular bus service to make it fast, reliable, and convenient.
                            To meet the demand for its most popular service, RTD also employs higher-capacity hybrid
                            articulated buses.
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Local</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>RTD Local serves the Stockton Metropolitan Area,
                            connecting RTD’s Express, Intercity, Hopper, and Commuter services.
                            Local routes serve the Downtown Transit Center (DTC), Mall Transfer Station (MTS), and
                            Hammer Transfer Station (HTS).
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Hopper</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Metro Hopper is a deviated fixed-route service serving popular destinations throughout the
                            Stockton city limits.
                            With seven routes that operate Monday – Friday, 6:00 a.m. to 6:30 p.m., buses run
                            approximately every hour.
                        </p>
                        <p>
                            In order to accommodate ADA-certified passengers who are not able to reach fixed-route
                            stops,
                            each Hopper can deviate from its normal route a distance of up to one mile. The service
                            covers approximately 75% of the
                            Stockton Metro Area for ADA-certified customers with the one-mile deviation. Reservations
                            are required.*
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


    </ion-grid>


</ion-content>