ion-card-content, ion-card-title, h1, p {
    font-family: 'Nunito', sans-serif;
    color:#004e99;
}

h1{
    text-decoration: underline;
}

p{
    margin-top: 5px;
}

.thicc{
    font-weight: bolder;
}