<ion-header>
  
    <app-nav></app-nav>
  
</ion-header>

<ion-content>
<ion-grid>
<ion-row>
  <ion-col size="1"></ion-col>
  <ion-col size="10">
    <h1 class="ion-text-center ">Rider Alerts</h1>
  </ion-col>
  <ion-col size="1"></ion-col>
</ion-row>

<ion-row>
 <ion-col size="12">
  <ion-card>
    <ion-card-header>
      <ion-card-title>March 17, 2021</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="thicc">SPECIAL EVENT SHUTTLE  – COVID-19 VACCINATIONS</p>
      <p class="thicc">ROBERT CABRAL AGRICULTURAL CENTER</p>
      <p class="thicc">TUESDAY TO FRIDAY</p>
      <p class="thicc">(WEEKDAY ONLY)</p>
      <p>In supporting the community, RTD will offer free rides on fixed route service for everyone who needs to get a COVID-19 vaccine at the Robert Cabral Agricultural Center, 2101 E. Earhart Avenue.</p>
      <p> A shuttle service will be available from the Union Transfer Station (UTS) to the Agricultural Center.</p>
      <p>When boarding, please show proof of appointment to the operator.</p>
    </ion-card-content>
  </ion-card>
 </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
   <ion-card>
     <ion-card-header>
       <ion-card-title>March 17, 2021</ion-card-title>
     </ion-card-header>
   
     <ion-card-content>
      <p class="thicc">METRO EXPRESS ROUTE 40 AND ROUTE 93 – PACIFIC & BEN HOLT (SB)</p>
      <p class="thicc">EFFECTIVE: MONDAY, MARCH 22, 2021</p>
      <p>RTD is installing a new fare vending machine for Metro Express Route 40 at the Pacific & Ben Holt (Southbound) bus stop.</p>
  
      <p></p>
     </ion-card-content>
   </ion-card>
  </ion-col>
 </ion-row>

 <ion-row>
  <ion-col size="12">
   <ion-card>
     <ion-card-header>
       <ion-card-title>March 17, 2021</ion-card-title>
     </ion-card-header>
   
     <ion-card-content>
      <p class="thicc">ROUTES 90 & 97</p>
      <p class="thicc">EFFECTIVE: MONDAY, MARCH 8, 2021 TO FRIDAY, DECEMBER 31, 2021 (APPROXIMATELY)1</p>
      <p>Due to construction, the RTD bus stop at Grant Line & Skylark (Eastbound) will not be available. Please use the temporary bus stop west of the current stop.</p>
     </ion-card-content>
   </ion-card>
  </ion-col>
 </ion-row>

 <ion-row>
  <ion-col size="12">
   <ion-card>
     <ion-card-header>
       <ion-card-title>March 4, 2021</ion-card-title>
     </ion-card-header>
   <ion-card-content>
      <p class="thicc">ROUTES 90 & 97</p>
      <p class="thicc">EFFECTIVE: MONDAY, MARCH 8, 2021 TO FRIDAY, DECEMBER 31, 2021 (APPROXIMATELY)1</p>
      <p >Due to construction, the RTD bus stop at Grant Line & Skylark (Eastbound) will not be available. Please use the temporary bus stop west of the current stop.</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
     </ion-card-content>
   </ion-card>
  </ion-col>
 </ion-row>

 
 <ion-row>
  <ion-col size="12">
   <ion-card>
     <ion-card-header>
       <ion-card-title>February 25, 2021</ion-card-title>
     </ion-card-header>
   <ion-card-content>
      <p class="thicc">EFFECTIVE: SATURDAY, FEBRUARY 27, 2021</p>
      <p class="thicc">9:00 AM – 10:30 AM & 3:30 PM – 5:00 PM</p>
      <p >Due to the PG&E electric service interruption, the fare vending machine at Mariners & Hammer will not be available. Please use the fare vending machine at the next Metro Express stop to purchase your pass.</p>
     </ion-card-content>
   </ion-card>
  </ion-col>
 </ion-row>
 
 <ion-row>
  <ion-col size="12">
   <ion-card>
     <ion-card-header>
       <ion-card-title>February 18, 2021</ion-card-title>
     </ion-card-header>
   <ion-card-content>
      <p class="thicc">Route 150</p>
      <p class="thicc">EFFECTIVE SATURDAY, NOVEMBER 21, 2020</p>
      <p class="thicc">(REVISED FEBRUARY 18, 2021)</p>
      <p >Due COVID-19 restrictions and limited service on BART’s Saturday and Sunday schedules, Weekend Route 150 last departure from DTC at 8:00 p.m. and return from the BART station at 9:35 p.m. will be suspended until further notice. </p>
     </ion-card-content>
   </ion-card>
  </ion-col>
 </ion-row>

 