.font20{
    font-size: 20px;
}
.ionicon{
    font-size: 25px;
    // margin-top: 5px;
    margin-right: 5px;
    color: #b61e8d;
}
.marTop22{
    margin-top: 22px;
}
.font-15{
    font-size: 18px;
}
.button-size{
    width: 40%;
}