<ion-header [translucent]="true">
  <app-nav></app-nav>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button routerLink="/favorites-main">Favorites Main</ion-button>
<ion-button routerLink="/favorites-results">Favorites Results</ion-button>
<ion-button routerLink="/favorites-new">Favorites New</ion-button>

<ion-button routerLink="/info">Info</ion-button>
<ion-button routerLink="/login">Login</ion-button>
<ion-button routerLink="/news">News</ion-button>
<ion-button routerLink="/rider-alerts">Rider Alerts</ion-button>
</ion-content>
