<ion-header [translucent]="true">
  <app-nav></app-nav>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size=12 class="center">
        <!-- This is where the google map can go. -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <ion-label>Destination/Schedule</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="presentModal()"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-button routerLink="/favorites-main">Favorites Main</ion-button>
<ion-button routerLink="/favorites-results">Favorites Results</ion-button>
<ion-button routerLink="/favorites-new">Favorites New</ion-button>

<ion-button routerLink="/info">Info</ion-button>
<ion-button routerLink="/login">Login</ion-button>
<ion-button routerLink="/news">News</ion-button>
<ion-button routerLink="/rider-alerts">Rider Alerts</ion-button>
</ion-content>
